@import url('https://fonts.googleapis.com/css2?family=Wallpoet&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

.timer {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2rem;
    font-weight: 700;
    width: 8ch;
    text-align: end;
    background-color: #5035ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 0;
}

@media screen and (max-width: 450px) {
    .timer {
        font-size: 1rem;
        padding: 5px 2px;
        margin-right: 10px;
    }
}